<nav class="navbar navbar-expand-lg">
    <div id="navbarItem">
        <a class="nav-item nav-link DashBoardHeadTag" href="#">AdminDashboard</a>
        <form asp-controller="Home" asp-action="Logout" method="post">
            <button class="btn customBtnSecondary LogOutBtn">LogOut</button>
        </form>
    </div>
</nav>

<style>
    .Layout {
        background-color: white !important;
        display: block;
    }
</style>